@import "tailwindcss";

@font-face {
  font-family:'MarckScript';
  src: url('/fonts/MarckScript-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'ThinRaleway';
  src: url('/fonts/raleway-extralight.ttf') format('truetype');
}

@font-face {
  font-family:'Transcity';
  src: url('/fonts/Transcity.ttf') format('truetype');
}

@font-face {
  font-family:'Poppins';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
}


.font-marck-script {
  font-family: 'MarckScript', sans-serif;
}

.font-thin-raleway {
  font-family: 'ThinRaleway', sans-serif;
}

.font-transcity {
  font-family: 'Transcity', sans-serif;
}